/* variables */
:root {
    /* fonts */

    /* colours */

    /* transitions */

    /* Buttons & Forms*/

    /* Decoded Scale */

    /* margins and spacing */

    /* z-index scale */
}
/*
 * media query aliases
 * also change them in less/third-party/_grid.less
 */


/* vertical breakpoints */
.header-bar {
  width: 100%;
  position: absolute;
  top: 0;
}

.header-bar-fixed {
  position: fixed;
}


.header-brochure .name {
  margin: 5rem 0 0 1rem;
}


.nav-toggle {
  float: left;
  width: 1.14rem;
  height: 1.14rem;
}
.header-brand {
  width: 150px;
  float: right;
  margin: -3.7rem 0 1.34rem 0;
}
.nav {
  padding: 0;
  margin: 0;
}
.nav li {
  list-style-type: none;
  padding: 0.83rem 0;
}
.nav-aside .nav-list {
  text-indent: 0;
}
/**
 * The button classes are best applied to links, buttons, and submit inputs.
 * These components can be used in forms, as calls to action, or as part of the
 * general UI of the site/app.
 */

/**
 * 1. Corrects inability to style clickable `input` types in iOS.
 * 2. Normalize `box-sizing` across all elements that this component could be
 *    applied to.
 * 4. Inherit font styles from ancestor.
 * 5. Normalize `line-height`. For `input`, it can't be changed from `normal` in Firefox 4+.
 * 6. Prevent button text from being selectable.
 * 7. Make sure `input` will wrap text across multiple lines.
 */

    .Btn {
        -webkit-appearance: none; /* 1 */
        background: transparent;
        border-color: transparent;
        border-style: solid;
        border-width: 1px;
        box-sizing: border-box; /* 2 */
        color: rgb(83,80,75);
        cursor: pointer;
        display: inline-block;
        font: inherit;
        line-height: normal; /* 5 */
        margin: 0;
        padding: 0.4em 0.75em;
        position: relative;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 600;
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none; /* 6 */
        white-space: normal; /* 7 */
    }

/**
 * Remove excess padding and border in Firefox 4+
 */

    .Btn::-moz-focus-inner {
        border: 0;
        padding: 0;
    }

/**
 * Work around a Firefox/IE bug where the transparent `button` background
 * results in a loss of the default `button` focus styles.
 */

    .Btn:focus {
        outline: 1px dotted;
        outline: 5px auto -webkit-focus-ring-color;
    }

/**
 * UI states
 */

    .Btn:hover,
    .Btn:focus,
    .Btn:active {
        text-decoration: none;
        background: rgb(186,184,176);
    }

    .Btn:disabled,
    .Btn.is-disabled {
       cursor: default;
       opacity: 0.6;
       pointer-events: none;
    }

    .Btn .ion-spin {
        display: none;
    }

    .Btn.is-spinning .ion-spin {
        display: inline;
    }

/*
* Icons on buttons - add margins
*/

    .Btn .ion {
        -webkit-transform: scale(1.2);
            -ms-transform: scale(1.2);
                transform: scale(1.2);
        margin: 0.6rem;
    }

/*
* Buttons with title and detailed description
*/
    .Btn .description {
        font-weight: 300;
        margin-top: 0.6rem;
    }
/**
 * Button variations
 */

    .Btn.primary {
        background: rgb(254, 248, 0);
        color: #333333;
        border-color: rgb(254, 248, 0);
    }

    .Btn.primary:hover,
    .Btn.primary:focus,
    .Btn.primary:active {
        color: rgb(83,80,75);
    }

    .Btn.contrast {
        background: rgb(186,184,176);
        color: rgb(83,80,75);
        border-color: rgb(186,184,176);
    }

    .Btn.contrast:hover,
    .Btn.contrast:focus,
    .Btn.contrast:active {
      background: rgb(242,241,239);
      border-color: rgb(242,241,239);
    }

    .Btn.full-width {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    .Btn.large {
        padding: 1rem;
    }

    .Btn.active {
        background: rgb(192,227,139);
        color: #333333;
        border-color: rgb(192,227,139);
    }

    .Btn.active:hover,
    .Btn.active:focus,
    .Btn.active:active {
        color: rgb(46,204,133);
    }
