/* variables */
:root {
    /* fonts */

    /* colours */

    /* transitions */

    /* Buttons & Forms*/

    /* Decoded Scale */

    /* z-index scale */
}
/*
 * media query aliases
 * also change them in less/third-party/_grid.less
 */


/* vertical breakpoints */

.example {
  margin: 3.7rem 0;
  padding: 0.83rem;
  box-shadow: 0 0 3px rgba(212,210,202,.5);
  position: relative;
}

.example:before {
  content: 'Example:';
  position: absolute;
  top: -1.34rem;
  left: 0;
  display: block;
  width: 100%;
  color: rgb(212,210,202);
  font-size: 0.83rem;
}
