<h1>Decoded Brand Guidelines</h1>

<p>The Decoded brand is more than just a name, it is an experience , a set of values which reflects the humanistic spirit which flows through the company. Using it consistently will reinforce our passion and commitment to providing a world class experience.</p>
