<div class="typography">
  <h1 class="XXXL">Brand Guidelines</h1>

  <p>The Decoded brand is more than just a name, it is an experience, a set of values which reflects the humanistic spirit which flows through the company. Using it consistently will reinforce our passion and commitment to providing a world class experience.</p>

  <p>For details on what is contained in the guidelines, read the <a href="https://github.com/DecodedCo/brand-guidelines/releases" target="_blank">Release Notes</a> or click through the pages to familiarise yourself.</p>

  <p>We are building the Brand Guidelines as an iterative product and requests and feedback are highly encouraged.
  If you feel anything is missing, speak to Jonas/Phil/Marc or <a href="https://docs.google.com/a/decoded.com/forms/d/13oxyXGNvWCNdZuUyTkkuf874a-ZvBBBJ577ohKdYCDE/viewform?c=0&w=1" target="_blank">create a requirement (Google form)</a>.</p>

</div>
