<div class="typography">
  <h1 class="XXXL">Brand Guidelines</h1>

  <p>The Decoded brand is more than just a name &mdash; it is an experience &mdash; a set of values which reflects the humanistic spirit which flows through the company. Using it consistently will reinforce our passion and commitment to providing a world class experience.</p>

  <p>For details on what is contained in the guidelines, navigate through the content using the menu on the left.</p>

  <p>If you feel anything is missing, speak to Dan Zell (UK office).</p>

</div>
