@import "base/_variables.css";
@import "base/_media-queries.css";
body {
  background-color: #FEFEFE;
}
.example {
  margin: var(--scale-XXXL)rem 0;
  padding: var(--scale-XL)rem;
  box-shadow: 0 0 3px var(--color-grey-medium-alpha);
  position: relative;
}

.example:before {
  content: 'Example:';
  position: absolute;
  top: -var(--scale-XL)rem;
  left: 0;
  display: block;
  width: 100%;
  color: var(--color-grey-medium);
  font-size: var(--scale-S)rem;
}


.swatches, .grid.swatches {
  text-align: center;
  margin: var(--scale-XXXL)rem 0;
}

.swatches p {
  margin: 0;
}
  .swatches p:last-child {
    margin-bottom: var(--scale-XXL)rem;
  }
.swatch {
  width: var(--scale-XXXXL)rem;
  height: var(--scale-XXXXL)rem;
  border-radius: 100%;
  margin: 0 auto var(--scale-M)rem;
}

.swatch.shadow {
  box-shadow: 0 0 3px var(--color-grey-medium-alpha);
}

/* tables in MD */
table {
  width: 100%;
}
th, td {
  border-bottom: 1px solid var(--color-grey-medium);
  padding: var(--scale-XS)rem var(--scale-XS)rem var(--scale-XS)rem 0;
  text-align: left;
  color: var(--color-grey-medium);
  font-weight: var(--sans-normal);
}
td {
  border-bottom: 1px solid var(--color-grey-light);
  color: var(--color-black);
}
