<header class="d-nav-global dnav-global-fixed" role="navigation" id="d-nav-header">
  {{> brand this }}
  <span class="name">Hello, Joshua Saxby!</span>
  <a id="d-nav-toggle" class=""><span></span></a>

  <nav id="d-nav-main" class="navbar-left hidden-print">
      {{> main this }}
  </nav>
</header>
